api = "0.7"

[buildpack]
  description = "A buildpack for installing the appropriate Apache HTTPD server"
  homepage = "https://github.com/paketo-buildpacks/httpd"
  id = "paketo-buildpacks/httpd"
  keywords = ["apache", "httpd", "server", "distribution"]
  name = "Paketo Buildpack for Apache HTTP Server"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

[metadata]
  include-files = ["buildpack.toml", "linux/amd64/bin/build", "linux/amd64/bin/detect", "linux/amd64/bin/run", "linux/arm64/bin/build", "linux/arm64/bin/detect", "linux/arm64/bin/run"]
  pre-package = "./scripts/build.sh --target linux/amd64 --target linux/arm64"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha256:d8b5dbf569ae9874d3f70b91933047a39e2f493622df8933c05182afad417a1a"
    cpe = "cpe:2.3:a:apache:http_server:2.4.64:*:*:*:*:*:*:*"
    id = "httpd"
    licenses = ["Apache-2.0"]
    name = "Apache HTTP Server"
    os = "linux"
    purl = "pkg:generic/httpd@2.4.64?checksum=120b35a2ebf264f277e20f9a94f870f2063342fbff0861404660d7dd0ab1ac29&download_url=http://archive.apache.org/dist/httpd/httpd-2.4.64.tar.bz2"
    source = "http://archive.apache.org/dist/httpd/httpd-2.4.64.tar.bz2"
    source-checksum = "sha256:120b35a2ebf264f277e20f9a94f870f2063342fbff0861404660d7dd0ab1ac29"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/httpd/httpd_2.4.64_linux_amd64_jammy_d8b5dbf5.tgz"
    version = "2.4.64"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha256:f41c0e2a3c4c6309a27bd4e394bbf14f2caf45fe593f9903eb65d83f26c072f8"
    cpe = "cpe:2.3:a:apache:http_server:2.4.64:*:*:*:*:*:*:*"
    id = "httpd"
    licenses = ["Apache-2.0"]
    name = "Apache HTTP Server"
    os = "linux"
    purl = "pkg:generic/httpd@2.4.64?checksum=120b35a2ebf264f277e20f9a94f870f2063342fbff0861404660d7dd0ab1ac29&download_url=http://archive.apache.org/dist/httpd/httpd-2.4.64.tar.bz2"
    source = "http://archive.apache.org/dist/httpd/httpd-2.4.64.tar.bz2"
    source-checksum = "sha256:120b35a2ebf264f277e20f9a94f870f2063342fbff0861404660d7dd0ab1ac29"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/httpd/httpd_2.4.64_linux_arm64_jammy_f41c0e2a.tgz"
    version = "2.4.64"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha256:295c4bb3e0bda8e3fa24cd430583a42829f3504907798dff35a9b3bc8af60372"
    cpe = "cpe:2.3:a:apache:http_server:2.4.65:*:*:*:*:*:*:*"
    id = "httpd"
    licenses = ["Apache-2.0"]
    name = "Apache HTTP Server"
    os = "linux"
    purl = "pkg:generic/httpd@2.4.65?checksum=58b8be97d9940ec17f7656c0c6b9f41b618aac468b894b534148e3296c53b8b3&download_url=http://archive.apache.org/dist/httpd/httpd-2.4.65.tar.bz2"
    source = "http://archive.apache.org/dist/httpd/httpd-2.4.65.tar.bz2"
    source-checksum = "sha256:58b8be97d9940ec17f7656c0c6b9f41b618aac468b894b534148e3296c53b8b3"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/httpd/httpd_2.4.65_linux_amd64_jammy_295c4bb3.tgz"
    version = "2.4.65"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha256:3fcb61666dd9bf94ceca0c95ab6ba301cf83687d73b9a828d5b6597df060dc38"
    cpe = "cpe:2.3:a:apache:http_server:2.4.65:*:*:*:*:*:*:*"
    id = "httpd"
    licenses = ["Apache-2.0"]
    name = "Apache HTTP Server"
    os = "linux"
    purl = "pkg:generic/httpd@2.4.65?checksum=58b8be97d9940ec17f7656c0c6b9f41b618aac468b894b534148e3296c53b8b3&download_url=http://archive.apache.org/dist/httpd/httpd-2.4.65.tar.bz2"
    source = "http://archive.apache.org/dist/httpd/httpd-2.4.65.tar.bz2"
    source-checksum = "sha256:58b8be97d9940ec17f7656c0c6b9f41b618aac468b894b534148e3296c53b8b3"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/httpd/httpd_2.4.65_linux_arm64_jammy_3fcb6166.tgz"
    version = "2.4.65"

  [[metadata.dependency-constraints]]
    constraint = "*"
    id = "httpd"
    patches = 2

[[stacks]]
  id = "io.buildpacks.stacks.jammy"

[[targets]]
  arch = "amd64"
  os = "linux"

[[targets]]
  arch = "arm64"
  os = "linux"
