api = "0.7"

[buildpack]
  description = "A buildpack for installing the appropriate Apache HTTPD server"
  homepage = "https://github.com/paketo-buildpacks/httpd"
  id = "paketo-buildpacks/httpd"
  keywords = ["apache", "httpd", "server", "distribution"]
  name = "Paketo Buildpack for Apache HTTP Server"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

[metadata]
  include-files = ["buildpack.toml", "linux/amd64/bin/build", "linux/amd64/bin/detect", "linux/amd64/bin/run", "linux/arm64/bin/build", "linux/arm64/bin/detect", "linux/arm64/bin/run"]
  pre-package = "./scripts/build.sh --target linux/amd64 --target linux/arm64"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha256:b1c3fd13524c5f79e247c29f225a4eb377a9fbf80d8972363d8afb93f854d0f4"
    cpe = "cpe:2.3:a:apache:http_server:2.4.66:*:*:*:*:*:*:*"
    id = "httpd"
    licenses = ["Apache-2.0"]
    name = "Apache HTTP Server"
    os = "linux"
    purl = "pkg:generic/httpd@2.4.66?checksum=94d7ff2b42acbb828e870ba29e4cbad48e558a79c623ad3596e4116efcfea25a&download_url=http://archive.apache.org/dist/httpd/httpd-2.4.66.tar.bz2"
    source = "http://archive.apache.org/dist/httpd/httpd-2.4.66.tar.bz2"
    source-checksum = "sha256:94d7ff2b42acbb828e870ba29e4cbad48e558a79c623ad3596e4116efcfea25a"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/httpd/httpd_2.4.66_linux_amd64_jammy_b1c3fd13.tgz"
    version = "2.4.66"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha256:f893ac7fdfa5fc409aceebff5f94aaef35edefa788a760911a3842e97a81f7ab"
    cpe = "cpe:2.3:a:apache:http_server:2.4.66:*:*:*:*:*:*:*"
    id = "httpd"
    licenses = ["Apache-2.0"]
    name = "Apache HTTP Server"
    os = "linux"
    purl = "pkg:generic/httpd@2.4.66?checksum=94d7ff2b42acbb828e870ba29e4cbad48e558a79c623ad3596e4116efcfea25a&download_url=http://archive.apache.org/dist/httpd/httpd-2.4.66.tar.bz2"
    source = "http://archive.apache.org/dist/httpd/httpd-2.4.66.tar.bz2"
    source-checksum = "sha256:94d7ff2b42acbb828e870ba29e4cbad48e558a79c623ad3596e4116efcfea25a"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/httpd/httpd_2.4.66_linux_arm64_jammy_f893ac7f.tgz"
    version = "2.4.66"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha256:ef21f4d80bfbd5bdfd6f26ec0b526270e3f53c0a4b445f008ac848f5a41bbac6"
    cpe = "cpe:2.3:a:apache:http_server:2.4.66:*:*:*:*:*:*:*"
    id = "httpd"
    licenses = ["Apache-2.0"]
    name = "Apache HTTP Server"
    os = "linux"
    purl = "pkg:generic/httpd@2.4.66?checksum=94d7ff2b42acbb828e870ba29e4cbad48e558a79c623ad3596e4116efcfea25a&download_url=http://archive.apache.org/dist/httpd/httpd-2.4.66.tar.bz2"
    source = "http://archive.apache.org/dist/httpd/httpd-2.4.66.tar.bz2"
    source-checksum = "sha256:94d7ff2b42acbb828e870ba29e4cbad48e558a79c623ad3596e4116efcfea25a"
    stacks = ["io.buildpacks.stacks.noble"]
    uri = "https://artifacts.paketo.io/httpd/httpd_2.4.66_linux_amd64_noble_ef21f4d8.tgz"
    version = "2.4.66"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha256:f7403e86a51fc47ad523323072c5d63587ccb646ad368739e82dc60cbcb485a7"
    cpe = "cpe:2.3:a:apache:http_server:2.4.66:*:*:*:*:*:*:*"
    id = "httpd"
    licenses = ["Apache-2.0"]
    name = "Apache HTTP Server"
    os = "linux"
    purl = "pkg:generic/httpd@2.4.66?checksum=94d7ff2b42acbb828e870ba29e4cbad48e558a79c623ad3596e4116efcfea25a&download_url=http://archive.apache.org/dist/httpd/httpd-2.4.66.tar.bz2"
    source = "http://archive.apache.org/dist/httpd/httpd-2.4.66.tar.bz2"
    source-checksum = "sha256:94d7ff2b42acbb828e870ba29e4cbad48e558a79c623ad3596e4116efcfea25a"
    stacks = ["io.buildpacks.stacks.noble"]
    uri = "https://artifacts.paketo.io/httpd/httpd_2.4.66_linux_arm64_noble_f7403e86.tgz"
    version = "2.4.66"

  [[metadata.dependency-constraints]]
    constraint = "*"
    id = "httpd"
    patches = 1

[[stacks]]
  id = "io.buildpacks.stacks.jammy"

[[stacks]]
  id = "io.buildpacks.stacks.noble"

[[targets]]
  arch = "amd64"
  os = "linux"

[[targets]]
  arch = "arm64"
  os = "linux"
